services:
	benefitsRepository: Crm\BenefitsModule\Repositories\BenefitsRepository
	userBenefitsRepository: Crm\BenefitsModule\Repositories\UserBenefitsRepository
	benefitFormFactory: Crm\BenefitsModule\Forms\BenefitFormFactory

	moduleManager:
		setup:
			- addModule(Crm\BenefitsModule\BenefitsModule())

	- Crm\BenefitsModule\Components\UserBenefitsListing\UserBenefitsListing