{block #title}Benefity{/block}

{block #content}
<div class="row">

    <div class="col-md-12">
        <h1>
            Benefity
            <a n:href="new" class="btn btn-success btn-lg pull-right"><i class="fa fa-sliders-h"></i>  {_'segment.new.header'}</a>
        </h1>
        <hr>
    </div>
</div>