{block #title}Benefity{/block}

{block #content}
<div class="row">

    <div class="col-md-12">
        <h1>
            Benefity - {$benefit->name}
        </h1>
        {control editBenefitForm}
        <hr>
    </div>
</div>